body {
    background-color: blanchedalmond;
    font-family: Arial,sans-serif;
}

h1{
    color:blue;
    font-family:Verdana;
    font-size: 300%;
}

.container{
    color:red;
    font-family: Verdana;
    font-size: 300%;
}